<!DOCTYPE html>
<html lang='en-US'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <title>{{this_course.name}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id='wrapper'>
        <div class='header'>
            <h1>Comments for {{this_course.name}}</h1>
            <a href="/">Back to Courses</a>
        </div>

            
        <div class="body">
            <form action="/comment/{{this_course.id}}/create" method="post">
                {% csrf_token %}
                <table>
                    
                    <tbody>
                        <tr>
                            <td><label for="comment_input">Comment</label></td>
                            <td><input type="text" name="comment_input"></td>
                            <td><button class="styled_button" type="submit">Add</button></td>
                        </tr>
                    </tbody>
                </table>
                
            </form>
            <table>
                <thead>
                    <tr>
                        <th>Comment</th>
                        <th>Date/Time Made</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                        {% for comment in all_comments %}
                    <tr>
                        <td>
                            <div class="overflow">{{comment.comment}}</div>
                        </td>
                        <td>{{comment.created_at}}</td>
                        <td>
                            <form action="/comment/{{this_course.id}}/{{comment.id}}/destroy" method="POST">
                                {% csrf_token %}
                            <button class="styled_button" type="submit" ">Remove</button>
                            </form>
                        </td>
                    </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>