<!DOCTYPE html>
<html lang='en-US'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id='wrapper'>
        <div>
            <h2>Are you sure that you want to delete the following course?</h2>
            <div id="label_box" class="horizontal">
                <p class="bold">Name</p>
                <p class="bold">Description</p>
            </div>
            <div id="info_box" class="horizontal">
                <p>{{this_course.name}}</p>
                <p>{{this_course.desc.desc}}</p>
            </div>
            <div class="horizontal">
                <a href="/"><button class="styled_button">No I don't</button> </a>
            <form action="/destroy/{{this_course.id}}" method="POST">
                {% csrf_token %}
            <button class="red_button" type="submit" value="{{this_course.id}}">Yes! I want to delete this</button>
            </form>
            </div>
            
        </div>
    </div>
</body>
</html>